@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


* {
margin:0 auto;
padding:0px;
box-sizing:border-box;
max-width:1920px;
}



body{
font-family: 'Noto Sans KR', 'sans-serif';
}

ul, ol{
list-style:none;
}

a{
text-decoration:none;
}


#figure{
    width:1920px;
    height:900px;
    position:relative;
    overflow:hidden;   
}

#figure .bg{
  filter:brightness(0.5);
  
}

#figure .inner {
position: absolute;
top: 400px;
left: 260px;
width: 600px;
height: 110px;
color: white;

}


#figure .inner h1 {
text-align: left;
font: normal normal bold 40px/58px Noto Sans KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

#figure .inner p{
margin-top:50px;
text-align: left;
font: normal normal bold 18px/26px Noto Sans KR;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
width:630px;
}


#figure .inner .bglist{
  position:relative;
    width:180px;
    height:50px;
    top:100px;
    display:inline-flex;
}

.left, .stop, .play, .right {cursor: pointer;
}

.bglist .left{
  width: 60px;
  height: 40px;
  position:absolute;
  left:0px;
  margin-left:8px;
  background:transparent url("../image/leftarrow.svg") 0% 0% no-repeat;
  border-style: none;
}

.bglist .stop{
  position:absolute;
  left:85px;
  width: 22px;
  height: 24px;
  margin-top:10px;
  background: transparent url("../image/stop.png") 0% 0% no-repeat;
  border-style: none;
  display:none;
}

.bglist .play{
  position:absolute;
  left:85px;
  width: 22px;
  height: 24px;
  background: transparent url("../image/play.png") 0% 0% no-repeat
    padding-box;
  border-style: none;
  margin-top:10px;
  display:block;
}

.bglist .right{
  position:absolute;
  right:0px;
  width: 60px;
  height: 40px;
  background: transparent url("../image/rightarrow.svg") 0% 0% no-repeat
  padding-box;
  border-style: none;  
}



/*리소프트의 새로운 소식*/

section{
  width:1920px;
  height:800px;
  padding:50px;
}

section .inner{
  width:1440px;
  margin: 0px auto;
  height:450px;
  top:100px;
  position:relative;
}

section .inner h1{
text-align: left;
font: normal normal bold 40px/58px Noto Sans KR;
letter-spacing: 0px;
color: #1E1E1E;
opacity: 1;
margin-left:20px;
}

section .inner .subtitle1{
  
  text-align: left;
  font: normal normal medium 16px/26px Noto Sans KR;
  letter-spacing: 0px;
  color: #C8C8C8;
  opacity: 1;
  margin-left:20px;
}



section .inner .wrap{
  margin-top:45px;
  display:flex;
  justify-content: space-between;
  position:relative;
}


section .inner .wrap article{
  display:flex;
  width:300px;
  height:300px;
}

section .inner .wrap article .pic{
  width:300px;
  height:200px;
  border-radius: 20px;
  opacity: 1;
  overflow:hidden;
}

section .inner .wrap article .text{
  position:absolute;
  text-align: left;
  font: normal normal bold 18px/26px Noto Sans KR;
  letter-spacing: 1px;
  color: #1E1E1E;
  opacity: 1;
  top:210px;
}

section .inner .wrap article .date{
  position:absolute;
  text-align: left;
  font: normal normal 16px/24px Noto Sans KR;
  letter-spacing: 1px;
  color: #AAAAAA;
  top:290px;
  }



section .inner .wrap article .pic{
  object-fit:cover;
  overflow:hidden;
}

section .inner .wrap article .pic img{
  transition: all 0.3s linear;
  width:300px;
  height:200px;
}

section .inner .wrap article:hover img{
  transform: scale(1.2);
}
section .inner .wrap article:hover .text{
  color:rgb(10, 10, 173);
}



.vl {
  border-left: 3px solid #e7e3e3;
  height: 305px;
  position: relative;
}


/* 프로젝트*/

.project{
  position:relative;
  width:1920px;
  height:1147px;
  background: #F9F9F9 0% 0% no-repeat padding-box;
  opacity: 1; 
}

.project .title{
position:absolute;
top:100px;
left:1220px;
right:240px;
bottom:826px;
width: 470px;
height: 221px;

}

.project .title .maintitle{
position:absolute;
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 40px/58px var(--unnamed-font-family-noto-sans-kr);
font: normal normal bold 40px/58px Noto Sans KR;
letter-spacing: 0px;
color: #1E1E1E;
opacity: 1;
top:0px;
right:0px;
}


.project .title .subtitle2{
position:absolute;
font: var(--unnamed-font-style-normal) normal medium 18px/26px var(--unnamed-font-family-noto-sans-kr);
text-align: left;
letter-spacing: 0px;
color: #C8C8C8;
opacity: 1;
top:58px;
right:0px;
}


.project .title .subtitle3{
  position:absolute;
  font: normal normal bold 26px/50px Noto Sans KR;
  letter-spacing: 0px;
  color: #1E1E1E;
  opacity: 1;
  top:134px;
  text-align:right;
}


.project .pic2{
  position:absolute;
  width:534px;
  height:393px;
  overflow:hidden;
  top:211px;
  left:240px;
  right:1146px;
  margin-bottom:50px;
  border-radius:30px;
}

.project .pictext{
  position:absolute;
  left: 20px;
  bottom: 20px;
  color:white;
  visibility:hidden;
}


.project .pic2 img{
  object-fit:cover;
}

@-webkit-keyframes fadeout2 {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
  }
}


.project .pic3{
  position:absolute;
  width:534px;
  height:393px;
  top:654px;
  left:240px;
  right:1146px;
  overflow:hidden;
  border-radius:30px;
}

.project .pic3 .pic3text{
  position:absolute;
  left:20px;
  bottom:20px;
  color:white;
  visibility:hidden;
}

.project .pic3 img{
  object-fit:cover;
  background-image:url("../image/moadubg.svg");
}



.project #ani1{
  position:absolute;
  width:680px;
  height:680px;
  top:370px;
  left:1000px;
  right:240px;
  opacity:1;
}

.project #ani3{
  position:absolute;
  width:680px;
  height:590px;
  opacity:1;
  display:none;
}


/* 서비스 */


.service{

width:1920px;
height:1148px;
background:#FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
position:relative;


}

.service .servicetitle{
  position:absolute;
  width:540px;
  height:221px;
  top:100px;
  left:240px;
  right:1146px;
}

.service .servicetitle .servicemaintitle{
 
 font: normal normal bold 40px/58px Noto Sans KR;
 letter-spacing: 0px;
 color: #1E1E1E;
 opacity: 1;
 top:0px;
 left:0px;
}

.service .servicetitle .servicesubtitle2{

  font: var(--unnamed-font-style-normal) normal medium 18px/26px var(--unnamed-font-family-noto-sans-kr);
letter-spacing: 0px;
color: #C8C8C8;
opacity: 1;
}


.service .servicetitle .servicesubtitle3{
margin-top:40px;
text-align: left;
font: normal normal bold 26px/50px Noto Sans KR;
letter-spacing: 0px;
color: #1E1E1E;
opacity: 1;
}


.service .card1{
  position:absolute;
  width:300px;
  height:375px;
  top:100px;
  left:1000px;
  right:620px;
  bottom:673px;
  z-index:1;
  
}


.service .card2{
  position:absolute;
  width:300px;
  height:375px;
  right:240px;
  left:1380px;
  bottom:555px;
  top:218px;
}

.service .card3{
  position:absolute;
  width:300px;
  height:375px;
  top:555px;
  left:1000px;
  right:620px;
  bottom:218px;
  
}


.service .card3 img{
  object-fit:cover;
  border-radius:20px;
  filter:brightness(0.7);                                                                 
}

.service .card4{
  position:absolute;
  width:300px;
  height:375px;
  top:673px;
  left:1380px;
  right:240px;
  bottom:100px;
}

.service .cardimg{
  object-fit:cover;
  border-radius:20px;
  filter:brightness(0.7);                     
}


.service .cardtext1{
  position: absolute;
  width:100%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);                                                                   
  color: white;
  text-align: center;
}


.service .cardtext2{
  position:absolute;
  width:100%;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);                                                                   
  color: white;
  text-align: center;
  visibility:hidden;
}

.service #ani2{
  position:absolute;
  width: 680px;
  height: 680px;
  opacity: 1;
  top:370px;
  left:240px;
  right:1000px;
}

.service #ani4{
  position:absolute;
  width: 534px;
  height: 534px;
  display:none;
}

@-webkit-keyframes fadeout {
  from {
      opacity: 1;
  }

  to {
      opacity: 0;
      transform: translate(-60%, -60%);
  }
}
@-webkit-keyframes fadein {
  from {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}


/* 레퍼런스 */

.ref{
  position:relative;
  width:1920px;
  height:1035px;
  background: white 0% 0% no-repeat padding-box;
  opacity: 1;
}
  
.ref .refsection{
  position:absolute;
  top:100px;
  width:1420px;
  height:734px;
  left:240px;
  right:240px;
}

.ref .refsection .reftitle{
  position:relative;
  opacity:1;
}

.ref .refsection .reftitle .refmaintitle{
text-align: left;
font: normal normal bold 40px Noto Sans KR;
letter-spacing: 0px;
color: #1E1E1E;
opacity: 1;
}


.ref .refsection .reftitle .refsubtitle2{
text-align: left;
letter-spacing: 0px;
color: rgba(200, 200, 200, 1);
opacity: 1;
font: var(--unnamed-font-style-normal) normal medium 18px/26px var(--unnamed-font-family-noto-sans-kr);
}


.ref .hr{
  width:100%;
  margin-top:60px;
  border: 1px solid #C8C8C8; 
}

.ref .gridcontainer{
  position:absolute;
  display:grid;
  grid-template-columns:repeat(6, 220px);
  grid-template-rows:repeat(5, 100px);
  row-gap:18px;
  column-gap:18px;
  width:1440px;
  height:734px;
}

.ref .gridcontainer .griditem{
position:relative;
margin-top:18px;
width:220px;
height:100px;
border: 1px solid rgba(219, 219, 219, 1);
opacity: 1;
}


.ref .gridcontainer .griditem img{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


footer {
  width: 1920px;
  height: 250px;
  position: relative;
  background: #E9E9E9 0% 0% no-repeat padding-box;
}

.footer_wrap {
  margin: 0 auto;
  padding: 50px 240px 50px;
  position:relative;
 
}

.footer_wrap .img-wrap{
  display: inline-flex;
  position:absolute;
  width:500px;
  height:50px;
}

.footer_wrap .img-wrap img{
  width:200px;
  position:absolute;
}

.footer_wrap .img-wrap .copyright{
  font: normal normal normal 16px/26px Noto Sans KR;
  letter-spacing: 0px;
  color: #9E9E9E;
  position:absolute;
  bottom:0px;
  right:0px;
  
}

.footer_wrap .footer_content {
  /* width: 85%; */
  position:absolute;
  display: inline-flex;
  height: 100%;
  margin-top:80px;

}

.footer_wrap .footer_content .footer_info1{
  /* width: 602px; */
  color:#9E9E9E;
  margin-right: 120px;
  width:670px;
  height: 100px;
}

.footer_wrap .footer_content .footer_info2{
  color:#9E9E9E;
  width: 482px;
  height: 50px;
}


/* 모바일 반응형 */

@media (min-width:0px) and (max-width:768px){


    
    #figure{
    width:768px;
    height:900px;
    position:relative;
    overflow:hidden;
  }
  
  
  #figure .inner{
    position:absolute;
    left:100px;
    top:460px;
  }
    
  /*새로운 소식 */

  section{
    width:768px;
    height:1016px;
    padding:0px;
  }

  section .inner{
    width:720px;
    height:816px;
    position:relative;
  }

  section .inner h1{
    position:absolute;
    top:0px;
    left:0px;
  }
  
  section .inner .subtitle1{
    position:absolute;
    top:58px;
  }

  section .inner .wrap article{
    width:300px;
    height:300px;
    position:relative;
  }

  section .inner .wrap{
    position:absolute;
    right:0px;
    bottom:0px;
    width:700px;
    display:grid;
    grid-template-columns:repeat(2, auto);
    grid-template-rows:repeat(2, auto);
    row-gap:60px; 
  }
  .vl {
    display:none;
  }
    
    /* 프로젝트 */
  .project{
    width:768px;
    height:1911px;
    background: #F9F8FF 0% 0% no-repeat padding-box;
  }

  .project .title{
     top:100px;
     left:232px;
     right:32px;
    }
  

  .project .title .subtitle2{
    font-size:18px;
  }  
    
  .project #ani1{
    display:none;
  }
    
    
  .project #ani3{
    display:block;
    top:321px;
    left:44px;
    right:44px;
  }

  .project .pic2{
    top:975px;
    left:117px;
    right:117px;
  }


  .project .pic3{
    top:1418px;
    left:117px;
    right:117px;
  }

  /* 서비스 부분 시작 */

  .service{
    width:768px;
    height:1853px;
    background: #F2F6FC 0% 0% no-repeat padding-box;
  }

  .service .servicetitle{
   width: 540px;
   height: 221px;
   left: 32px;
  }

  .service #ani4{
    display:block;
    top:321px;
    left:117px;
    right:117px;
  }

  .service #ani2{
    display:none;
  }
  
  .service .card1{
    top:855px;
    left:32px;
    right:436px;
  }
  
  .service .card2{
    top:973px;
    left:436px;
    right:32px;
  }


  .service .card3{
    top:1310px;
    left:32px;
    right:436px;
  }

  .service .card4{
    top:1428px;
    left:436px;
    right:32px;
  }
    
    /* 레퍼런스 */

  .ref{
    width:768px;
    height:1634px;
  }

  .ref .refsection{
    width: 704px;
    height: 1334px;
    left:32px;
  }

  .ref .gridcontainer{
    position:absolute;
    display:grid;
    grid-template-columns:repeat(3, 220px);
    grid-template-rows:repeat(10, 100px);
    row-gap:18px;
    column-gap:18px;
    width:704px;
    height:1200px;
  }
  
  footer{
    width:768px;
    height:331px;
  }
  
  footer .footer_wrap{
    padding:50px 0px 50px 32px;
  
  
  }
  
  .footer_wrap .footer_content .footer_info1{
    height:76px;
    width:630px;
  }
  
  .footer_wrap .footer_content .footer_info2{
   position:absolute;
   top:100px;
  }
}





/* 태블릿 반응형 시작 */

@media (min-width:768px) and (max-width:1280px){
    

/* 피겨부분 */

#figure{
  width:1280px;
  height:800px;
  position:relative;
  overflow:hidden;
}

#figure .bg1{
  width:1280px;
  height:800px;
  backdrop-filter: blur(0px);
  object-fit:cover;
}


#figure .inner{
  position:absolute;
  left:140px;
  top:380px;
}

/* 새로운 소식 */

section{
  width:1280px;
  height:1016px;
  padding:0px;
  position:relative;
}

section .inner{
  position:relative;
  width:900px;
  height:820px;
  left:-110px;
  
  
}

section .inner h1{
position:absolute;
width: 400px;
height: 58px;
}


section .inner .subtitle1{
position:absolute;
top:58px;
}


section .inner .wrap{
  position:absolute;
  display:grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(2, 320px);
  row-gap:30px;
  overflow:hidden;
  width:720px;
  right:0px;
  bottom:0px;
}


section .inner .wrap article{
  position:relative;
  width:300px;
  height:300px;
}



.vl{
  display:none;
}


/* 프로젝트 부분 */

.project{
  width:1280px;
  height:1910px;
  background: #F9F8FF 0% 0% no-repeat padding-box;
  opacity: 1;
  
}

.project .title{
  right:140px;
  left:650px;
}

.project #ani1{
  display:none;
}

.project #ani3{
  display:block;
  top:321px;
  left:300px;
  right:300px;

}

.project .pic2{
  top:975px;
  right:372px;
  left:372px;
}


.project .pic3{
  top:1418px;
  right:372px;
  left:372px;
}

/* 서비스 부분 시작 */

.service{
  width:1280px;
  height:1900px;
  background: #F2F6FC 0% 0% no-repeat padding-box;
  opacity:1;
}

.service .servicetitle{
  left:140px;
  right:606px;
}

.service #ani4{
  display:block;
  top:321px;
  left:373px;
  right:373px;
}

.service #ani2{
  display:none;
}

.service .card1{
  top:855px;
  left:320px;
  right:660px;
}

.service .card2{
  top:973px;
  left:660px;
  right:320px;

}

.service .card3{
  top:1310px;
  left:320px;
  right:660px;
}


.service .card4{
  top:1428px;
  left:660px;
  right:320px;
}


/* 레퍼런스 */


.ref{
  width:1280px;
  height:1635px;
}

.ref .refsection{
  width:1000px;
  height:1334px;
  left:140px;
  right:140px;
}

.ref .gridcontainer{
  grid-template-columns:repeat(3, 220px);
  grid-template-rows:repeat(10, 100px);
  left:150px;
  right:150px;
  width:700px;
}

footer{
  width:1280px;
}

footer .footer_wrap{
  padding:50px 140px 50px;
}

footer .footer_wrap .footer_content .footer_info1{
  width:530px;
  margin-right:20px;  
}
}
