

nav{
  width: 1920px;
    position: relative; 
    height:80px;
    border: 1px solid #DBDBDB;
    /* background-color:#FFFFFF; */
    /* z-index:0; */
    /* box-sizing: border-box; */
}

nav.menu{
    position:relative;
}

nav .menu .logo{
    position:absolute;
    /* left:320px; */
    left:360px;
    top:25px;
    bottom:25px;
    width:130px;
}

nav .menu .logo img{
    object-fit:cover;
    height:30px;
    width:133px;
}


nav .menu #menu-list{
    top:26px;
    bottom:26px;
    right:370px;
    width: 400px;
    height: 30px;
    display:flex;
    justify-content: space-evenly;
    position:absolute;   
}


nav .menu .ham_total .ham{
    /* background:transparent; */
    position:absolute;
    top:25px;
    right:250px;
    border-style:none;
    cursor:pointer;
}



nav .menu #menu-list li{
    list-style: none;
}

nav .menu #menu-list li a:hover{
    color: #184B9F;
    border-bottom: 5px solid #184B9F;
}


nav .menu #menu-list li a{
    color:#000;
    letter-spacing: 0;
    text-align: left;
    font: normal normal bold 20px/29px Noto Sans KR;
    letter-spacing: 0px;
    opacity: 1;
    text-decoration: none;
}

/* 추가 */
nav .menu .ham_total #ham_bg{
    display: none;
    top:80px;
    right:0px;
    width: 100%;
    /* width:1920px; */
    height:200px;
    position: absolute;
    background-color: #184B9F;
    opacity: 0.8;
    
} 

nav .menu .ham{
    width: 33px;
    height: 33px;
    border: 0;
    position:absolute;
    top:25px;
    right:200px;
    background:#FFFFFF 0% 0% no-repeat padding-box;

}




/* 추가 */
nav .menu .ham_total #ham_bg{
    display: none;
    top:80px;
    right:0px;
    width: 100%;
    /* width:1920px; */
    height:200px;
    position: absolute;
    background-color: #184B9F;
    opacity: 0.8;
    
} 
 nav .menu #ham_list{
    display: flex;
    justify-content: space-evenly;
    right:370px;
    width: 400px;
    height:250px;
    margin-top: 10px;
    position: absolute;
    
}



nav .menu #ham_list a{
    color:#fff;
    letter-spacing: 0;
    text-align: left;
    font: normal normal bold 20px/25px Noto Sans KR;
    opacity: 1;
    text-decoration: none;
    
}

nav .menu #ham_list li{
    list-style: none;
}

nav .menu .ham_total span{
    display:flex;
    margin-bottom: 7px;
}



@media (min-width:0px) and (max-width:768px){   
    nav{
        width:767px;
    }

    nav .menu .logo{
        left:25px;
    }

    nav .menu #menu-list{
        display:none;
    }

    nav .menu .ham_total .ham{
        right:50px;
    }
    
    nav .menu #ham_list{
        width:400px;
        right:80px;
    }


}



@media all and (min-width:768px) and (max-width:1280px){
    
    nav{
      width:1280px;
      height: 80px;
    }
    
    nav .menu{
      position:relative;
    }
    
    
    nav .menu .logo{
    left:140px;
    top:25px;
    bottom:25px;
    }
    
    
    nav .menu #menu-list{
    top: 26px;
    left: 620px;
    width: 400px;
    height: 39px;
    font: normal normal bold 20px/29px Noto Sans KR;
    }
     

    nav .menu .ham_total .ham{
    top: 24px;
    right: 190px;
    width: 32px;
    height: 32px;
    }

    nav .menu #ham_list{
    width:400px;
    right:250px;
    }
}
